.text-display-container {
    min-width: 310px;
}
@media (orientation: portrait) {
    .text-display-container {
        margin-left: clamp(13px, 8vw, 80px);
    }
}
@media (orientation: landscape) {
    .text-display-container {
        margin-top: clamp(13px, 8vh, 80px);
    }
}
